/* About.css */

.About {
    background-color: #ffffff;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
    margin-top: 20px;
    text-align: left;
    max-width: 600px;
    margin: 20px auto;
  }
  
  .About h1 {
    color: #00796b;
    font-size: 2rem;
    margin-bottom: 20px;
  }
  
  .About p {
    color: #555;
    font-size: 1rem;
    line-height: 1.6;
    margin-bottom: 15px;
  }
  
  .About strong {
    color: #00796b;
  }
  

  /* Responsive styles */
@media (max-width: 768px) {
  .About {
    padding: 15px;
  }

  .About h1 {
    font-size: 1.5rem;
  }

  .About p {
    font-size: 0.9rem;
  }
}

@media (max-width: 480px) {
  .About {
    padding: 10px;
  }

  .About h1 {
    font-size: 1.2rem;
  }

  .About p {
    font-size: 0.8rem;
  }
}